body {
    font-family: Arial, sans-serif;
    background-color: #f8f5f2;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #6F4E37;
    font-size: 50px;
}

p {
    color: #555;
    font-size: 20px;
}

input {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    background-color: #6F4E37;
    color: white;
    border: none;
    border-radius: 8px;
}